# Example .env settings
REPO_A=https://repo.vitexsoftware.com/
REPO_B=https://repo.multiflexi.eu/
DIST=bookworm
COMPONENT=main
ARCH=amd64
RESULT_FILE=
REPOCOMPARE_DISTS=bookworm trixie forky jammy noble raccoon
